In [4]:
# Loading required package

import boto3
from io import BytesIO
import pandas as pd

In [5]:
# you need to change the credentials for yourself

s3 = boto3.client('s3',
                  aws_access_key_id='ASIAYAAO5HRMGS3EW4WS',
                  aws_secret_access_key='16P4REUsOICfWkGyw3IlcccjgNJymj2/YqCc50s2',
                  aws_session_token='IQoJb3JpZ2luX2VjEOf//////////wEaCXVzLWVhc3QtMiJIMEYCIQCHARSDws/jNFw4fhu38o+Iy8/FUNshPcjhDrvDQ660KgIhAJTSV+wN0MhiZLq1zAXwT3q9IO+U0KgF1CEAwQ+1OHKIKusCCCAQABoMNTQ5Nzg3MDkwMDA4IgwsGb7gNDF6lSlrtEUqyALHRdpocOFY1gUCyM9Vj+jCG6kGoeJbJD7xqKM4rL7MlSZ88rsQ/xOuCuJGR+iy2BXeIdr0zAq6BQ8jXwjx8wBIzy/wMQwehicWjSh+dei5NauGxU6ud8j8hhephlhLbQW3cydNG++Ghn89+SXypcPHL+aR8W7vW2OqvQIqTMsKYsHl/wLlYdQy89Xd3gajtubR6GUNR2H0MCffztFttqI8Sh8vGknawqIcmSY2PwcWYoTqTrEQhoU0p/jeVu012OioibUStXhyqkf0535D5HzRY5RSS8SWpzdKLPThkj+3/Ig4TFY9Ck2zbtbW2dvenxt147sMN6kfqIBbQT7Zz32f2HPDyvcYQE2DVNHA0xgthSwGFHZxG5q1op237rzyyfGd1fYud1AxY/lF6LUuyGp0zIv31pK8n3Qsr2LQkViu46qwtpheREwMMPWE17AGOqYBh3WIKg+z0gypyMeyldCrmtkCZjtRouAAlZ4E9/Eb1bPVoJ+hYLWPIFK4w+go0uMM0vzBNC8bQX2rh05l9w32onkefwfwf1ZUFw4KJ91kaFRSomFNgrsQEqyZ/Q79QAYd/C5c+AkGQOwyGrb7qpauotZXTJPDdqOTx43QbZhifC4OoMf2+FtW558TGy/wzES4BuXjJMamjBsfnpKtXcIVu/zIU3zPJw==')


bucket_name = 'de300spring2024'
object_key = 'anaise/sample_dataset.csv'

In [6]:
csv_obj = s3.get_object(Bucket=bucket_name, Key=object_key)
body = csv_obj['Body']
csv_string = body.read().decode('utf-8')

In [7]:
df = pd.read_csv(BytesIO(csv_string.encode()))
print(df.head())

   ID           Name  Age         City
0   1       John Doe   28     New York
1   2     Jane Smith   32  Los Angeles
2   3    Emily Davis   45      Chicago
3   4  Michael Brown   22        Miami